<!DOCTYPE html>
<html>
<head>
  <title>Popfly</title>
  <%= stylesheet_link_tag    "popfly/application", :media => "all" %>
  <%= javascript_include_tag "popfly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
